{% extends "winetype/type_base.html" %}
{%block navbar%}
    <li><a href="{{url_for('.delete', item_id=winetype.id)}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_linked_home.html' %}
    {% include 'partial_templates/breadcrumb_linked_winetype.html' %}
    <li>Edit <i>{{winetype.name}}</i></li>
{%endblock%}

{%block body%}
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
          <div class="col-md-4 col-sm-4 col-sx-4">
            <form class="form-horizontal" method='POST' enctype='multipart/form-data' action='{{url_for('.edit', item_id=winetype.id)}}'>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                {% include 'winetype/winetype_form_content.html' %}
            </form>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
      </div>
    </div>
<script>
function setColorDrop(sel) {
    var value = sel.options[sel.selectedIndex].dataset.color;
    var f =document.getElementById("colorshower");
    f.style.color = value;
}

window.onload = function (){
    setColorDrop(document.getElementById("colorvalue"));
    };

</script>
{%endblock%}
