{% extends "winetype/type_base.html" %}
{%block navbar%}
    {% if session.user_id %}
        <li><a href="{{url_for('.new')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    {% endif %}
{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_linked_home.html' %}
    {% include 'partial_templates/breadcrumb_unlinked_winetype.html' %}
{%endblock%}

{%block body%}
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
          <div class="col-md-4 col-sm-4 col-sx-4">
            <ul class="list-group">
            {% for winetype in winetypes %}
                <a href="{{url_for('.edit', item_id=winetype.0)}}" class="list-group-item">{{winetype.1}}</a>
            {% endfor %}
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
      </div>
    </div>
{%endblock%}

