        <div class="form-group">
            <label for="itemname" class="col-sm-2 col-sx-2 control-label"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" title="Name"></span></label>
            <div class="col-sm-10">
                <p class="form-control-static" id="itemname" name="itemname"></p>
            </div>
        </div>
      <!-- Color -->
        <div class="form-group">
            <label for="colorvalue" class="col-sm-2 col-sx-4 control-label"><span class="glyphicon glyphicon-tint" aria-hidden="true" id="colorshower" title="Wine Color" style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"></span></label>
            <div class="col-md-5 col-sm-8">
                <div class="input-group">
                    <p class="form-control-static" id="colorvalue" name="colorvalue" placeholder="Color"></p>
                </div>
            </div>
        </div>
      <!-- Glass -->
        <div class="form-group">
            <label for="glassvalue" class="col-sm-2 col-sx-4 control-label"><span class="glyphicon glyphicon-glass" aria-hidden="true" title="Glass Type"></span></label>
            <div class="col-md-5 col-sm-8">
                <p class="form-control-static" id="glassvalue" name="glassvalue" placeholder="Color"></p>
            </div>
        </div>
      <!-- Calories -->
        <div class="form-group">
            <label for="calorievalue" class="col-sm-2 col-sx-4 control-label"><span class="glyphicon glyphicon-fire" aria-hidden="true" title="Calorie(s)"></span></label>
            <div class="col-md-5 col-sm-8">
                <p class="form-control-static" id="calorievalue" name="calorievalue" placeholder="Calories"></p>
            </div>
        </div>
      <!-- ABV -->
        <div class="form-group">
            <label for="abvvalue" class="col-sm-2 col-sx-4 control-label"><span class="glyphicon glyphicon-dashboard" aria-hidden="true" title="Alcohol by Volume"></span></label>
            <div class="col-md-5 col-sm-8">
                <p class="form-control-static" id="abvvalue" name="abvvalue" placeholder="Alcohol by Volume"></p>
            </div>
        </div>
      <!-- Temperature -->
        <div class="form-group">
            <label for="temperaturevalue" class="col-sm-2 col-sx-4 control-label"><span class="glyphicon glyphicon-scale" aria-hidden="true" title="Temperature"></span></label>
            <div class="col-md-5 col-sm-8">
                <p class="form-control-static" id="temperaturevalue" name="temperaturevalue"></p>
            </div>
        </div>
