{% extends "temperature/temperature_base.html" %}
{%block navbar%}{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_linked_home.html' %}
    {% include 'partial_templates/breadcrumb_linked_temperatures.html' %}
    <li>Delete <i>{{item.name}}</i></li>
{%endblock%}

{%block body%}

<div class="container-fluid">
    <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
          <div class="col-md-4 col-sm-4 col-sx-4">
            <form class="form-horizontal" method='POST' enctype='multipart/form-data' action=""{{url_for('.delete',item_id=item.id)}}">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Are you sure you want to delete {{item.name}} ({{item.temp}}&deg;F)?</h3>
                </div>
                <div class="panel-body">
                    <button type="submit" class="btn btn-default">Delete</button>
                    <a class="btn btn-default" href="{{ url_for('.show')}}" role="button">Cancel</a>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-sx-4"></div>
    </div>
</div>
{%endblock%}

