{% extends "winestock/stock_base.html" %}
{%block navbar%}
    {% if session.logged_in %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('.new')}}">New</a></li>
        </ul>
    {% endif %}
{%endblock%}
{%block body%}
<ol class="breadcrumb">
    <li><a href="{{url_for('winestock_api.show')}}">Wine Types</a></li>
    <li>{{winetype.name}} Stock</li>
</ol>
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
          <div class="col-md-4 col-sm-4 col-sx-4">
            <ul class="list-group">
            {% for winestock in wines %}
                <a href="{{url_for('.show_stockitem',stockitem_id=winestock.id)}}" class="list-group-item">{{winestock.brand_name}}<span class="badge">{{winestock.on_hand}}</span></a>
            {% endfor %}
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
      </div>
    </div>
{%endblock%}

