{% extends "winestock/stock_base.html" %}
{%block navbar%}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('.new')}}">New</a></li>
    </ul>
{%endblock%}
{%block body%}

    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
          <div class="col-md-4 col-sm-4 col-sx-4">
            <ul class="list-group">
            {% for winestock in wines %}
                <a href="" class="list-group-item">{{winestock.brandname}}<span class="badge">{{winestock.on_hand}}</span></a>
            {% endfor %}
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
      </div>
    </div>
{%endblock%}

