{% extends "winestock/stock_base.html" %}

{%block scripts%}
<script>
    $(document).ready(function() {
        $('#stocktable').DataTable({
            "scrollY":        "400px",
            "scrollCollapse": true,
            "paging":         false,
            "info": false,
            "ordering": false,
            "searching":true,
            "dom": "ft"
            });
    });
</script>
<style>
    .table th, .table td {
     border: 0px !important;
 }
</style>
{%endblock%}

{%block navbar%}
    {% if session.user_id %}
        <li><a href="{{url_for('.new')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    {% endif %}
{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_linked_home.html' %}
    {% include 'partial_templates/breadcrumb_unlinked_winestock.html' %}
{%endblock%}

{%block body%}
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-sx-8">
            <div class="panel panel-default">
              <div class="panel-body">
                  <table id="stocktable" class="display table table-condensed" cellspacing="0">
                      <thead><th></th></thead>
                    <tbody>
                    {% for winestock in wines %}
                        <tr><td style="padding:0px"><a href="{{url_for('.show_stockitem',stockitem_id=winestock.id)}}" class="list-group-item">{{winestock.brand_name}}<span class="label label-info pull-right">{{winestock.vintage}}</span></a></td></tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
      </div>
    </div>
{%endblock%}
          <!--<div class="col-md-4 col-sm-4 col-sx-4"></div>-->
          <!--<div class="col-md-4 col-sm-4 col-sx-4">-->
            <!--<ul class="list-group">-->
            <!--{% for winestock in wines %}-->
                <!--<a href="{{url_for('.show_stockitem',stockitem_id=winestock.id)}}" class="list-group-item">{{winestock.brand_name}}<span class="label label-info pull-right">{{winestock.vintage}}</span></a>-->
            <!--{% endfor %}-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4 col-sx-4"></div>-->
