{% extends "winestock/stock_base.html" %}
{%block navbar%}
    {% if session.user_id %}
        <li><a href="{{url_for('.new')}}" title="Add a new wine"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    {% endif %}
{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_unlinked_home.html' %}
{%endblock%}

{%block body%}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-4 col-sm-4 col-sx-4"></div>
      <div class="col-md-4 col-sm-4 col-sx-4">
        <ul class="list-group">
        {% for winetype in wines %}
            <a href="{{url_for('.show_brand', winetype_id=winetype.0.id)}}" class="list-group-item">{{winetype.0.name}}<span class="badge">{{winetype.1}}</span></a>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-sx-4"></div>
  </div>
</div>
{%endblock%}

