{% extends "winebrand/brand_base.html" %}
{% block scripts%}
<style>
div.stars {
  width: 100%;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 5px;
  font-size: 15px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\e006';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: "\e006";
  font-family: 'Glyphicons Halflings';
}

.no-bottom {
    margin-bottom: 0pt;
    }

.progress-color-5 {
    background-color: #A4F0B7;
}
.progress-color-4 {
    background-color: #A8CFFF;
}
.progress-color-3 {
    background-color: #B5FFFC;
}
.progress-color-2 {
    background-color: #FFE920;
}
.progress-color-1 {
    background-color: #FFAC62;
}


</style>
{% endblock%}
{%block navbar%}
    {% if session.user_id %}
        <li><a href="{{url_for('.new')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="New Wine Brand"></span></a></li>
        {%if session.user_id == item.user_id %}
        <li><a href="{{url_for('.edit_branditem', stockitem_id=item.id)}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Wine Brand"></span></a></li>
        {% endif%}
    {% endif %}
{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_linked_home.html' %}
    {% include 'partial_templates/breadcrumb_linked_winebrand.html' %}
    <li>Brand Item</li>
{%endblock%}

{%block body%}
    <div class="container">
      <div class="row">
          <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="thumbnail">
                  <img class="img-responsive img-thumbnail" style="max-width: 200px; max-height:200px" src="{% if item.filename %}/_uploads/brandphotos/{{item.filename}}{%else%}{{url_for('static', filename='images/generic_wine_bottle.png')}}{%endif%}"/>
                  <div class="caption">
                    <h3>{{item.brand_name}} <small>({{item.winetype.name}}, {{item.vintage}})</small></h3>
                    <ol class="breadcrumb" style="font-size:8pt; margin-bottom:0px">
                      <li><span class="glyphicon glyphicon-tint" aria-hidden="true" title="{% include 'partial_templates/name_color.html' %}" style="color:#{{item.winetype.color.value}}; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"></span> {{item.winetype.color.name}}</li>
                      {% if item.winetype.glass%}<li><span class="glyphicon glyphicon-glass" aria-hidden="true" title="{% include 'partial_templates/name_glass.html' %}"></span> {{item.winetype.glass.name}}</li>{%endif%}
                      {% if item.winetype.calorie%}<li><span class="glyphicon glyphicon-fire" aria-hidden="true" title="{% include 'partial_templates/name_calories.html' %}"></span> {{item.winetype.calorie.name}}</li>{%endif%}
                      {% if item.winetype.abv%}<li><span class="glyphicon glyphicon-dashboard" aria-hidden="true" title="{% include 'partial_templates/name_abv.html' %}"></span> {{item.winetype.abv.name}}</li>{%endif%}
                      {% if item.winetype.temperature%}<li><span class="glyphicon glyphicon-scale" aria-hidden="true" title="{% include 'partial_templates/name_temperature.html' %}"></span> {{item.winetype.temperature.name}} ({{item.winetype.temperature.temp}}&deg;F)</li>{%endif%}
                    </ol>
                    <div class="progress" style="height:9px">
                        {% for rating, percent in counter%}
                            <div title="{{rating}} Star Rating: {{percent|round(2, 'floor')}}%" class="progress-bar progress-color-{{rating}}" role="progressbar" style="width: {{percent}}%;"></div>
                        {%endfor%}
                    </div>

                    <p class="text-muted no-bottom" style="font-size: 8pt">{% if item.user_id %}<small>Added by <a href="{{url_for('.list_user_reviews', user_id=item.user_id)}}">{{item.user.nickname or item.user.name}}</a> on {%if item.date_edited is none%}{{item.date_created.strftime('%Y-%m-%d')}}{%else%}{{item.date_edited.strftime('%Y-%m-%d')}}{%endif%}</small>{%endif%}</p>
                  </div>
                </div>

            <!-- Add Review -->
            {% if session.user_id %}
            <div class="panel panel-default">
                <div class="panel-heading">Add a new review</div>
                <div class="panel-body">
                    <form class="form" method='POST' enctype='multipart/form-data' action="{{url_for('.new_review', stockitem_id=item.id)}}">
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="summary" class="control-label">Short Summary</label>
                            <input type="text" class="form-control" id="summary" name="summary" placeholder="Summary" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="reviewtext" class="control-label">Review</label>
                            <textarea id="reviewtext" class="form-control" rows="3" name="reviewtext"></textarea>
                        </div>
                        <div id="rating">
                            <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                            <label class="star star-1" for="star-1"></label>
                        </div>
                        <div class="form-group">
                                <button type="submit" class="btn btn-default">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            {%endif%}
            <!-- -->
              {% for review in reviews %}
                <div class="media well">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object img-circle" src="{%if review.user.picture %}{{review.user.picture}}{%else%}{{url_for('static', filename='images/generic_person.png')}}{%endif%}" alt="User Image" style="width:64px; height: 64px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{review.summary|e}}{%if review.user_id == session.user_id%}<small><span class="pull-right"><a href="{{url_for('.edit_review', review_id=review.id)}}" title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></span></small>{%endif%}</h4>
                    <p style="white-space: pre-wrap;">{{review.comment|e}}</p>
                    <p><small>{% for x in range(0,review.rating)%}<span class="glyphicon glyphicon-star" aria-hidden="true"></span>{%endfor%}  <span class="pull-right"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="{{url_for('.list_user_reviews', user_id=review.user_id)}}">{{review.user.nickname or review.user.name}}</a>  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {%if review.date_edited%}{{review.date_edited.strftime('%Y-%m-%d')}}{%else%}{{review.date_created.strftime('%Y-%m-%d')}}{%endif%}</span></small></p>
                  </div>
                </div>
            {% else %}
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    No reviews yet
                  </div>
                </div>
            {% endfor%}
          </div>
          </div>
      </div>
    </div>
{%endblock%}


