{% extends "winebrand/brand_base.html" %}
{% block scripts%}

{% endblock%}
{%block navbar%}
    {% if session.user_id %}
        <li><a href="{{url_for('.new')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    {% endif %}
{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_linked_home.html' %}
    <li>User Reviews</li>
{%endblock%}

{%block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-sx-4"></div>
        <div class="col-md-4 col-sm-4 col-sx-4">
            {% for review in reviews %}
                <div class="media well">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object img-circle" src="{%if review.user.picture %}{{review.user.picture}}{%else%}{{url_for('static', filename='images/generic_person.png')}}{%endif%}" alt="User Image" style="width:64px; height: 64px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><a href="{{url_for('.show_branditem', stockitem_id=review.winebrand_id)}}">{{review.winebrand.brand_name}}</a> <small>({{review.winebrand.winetype.name}}, {{review.winebrand.vintage}})</small></h5>
                    <h4 class="media-heading"><br/>{{review.summary}}</h4>
                    <p style="white-space: pre-wrap;">{{review.comment|e}}</p>
                    <p style="margin-bottom:0pt"><small>{% for x in range(0,review.rating)%}<span class="glyphicon glyphicon-star" aria-hidden="true"></span>{%endfor%} <span class="pull-right"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span style="font-size:8pt">{{review.date_created.strftime('%Y-%m-%d')}}</span></span></small></p>
                  </div>
                </div>
            {% else %}
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    No reviews for this user
                  </div>
                </div>
            {% endfor%}
        </div>
        <div class="col-md-4 col-sm-4 col-sx-4"></div>
    </div>
</div>
{%endblock%}

