<!DOCTYPE html>
<html lang="en">
<head>
<title>{%block title%}{%endblock%}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{%block scripts%}{%endblock%}
<style>
    .navbar {margin-bottom:0px;}
</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <a class="navbar-brand" href="{{url_for('show_home')}}">{% include 'partial_templates/name_app.html' %}</a>
    </div>
    {% if not session.user_id %}
        <form class="navbar-form navbar-right" action="{{ url_for('auth_api.show_login') }}">
            <button type="submit" class="btn btn-default">Sign in</button>
        </form>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            {%block navbar%}{%endblock%}
            {% include 'partial_templates/admin_dropdown.html' %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{%if session.picture %}{{session.picture}}{%else%}{{url_for('static', filename='generic_person.png')}}{%endif%}" alt="{{session.username}}" title="{{session.username}}" style="max-width:30px; margin-top: -7px;" class="img-circle"/> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{url_for('auth_api.user_edit')}}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Profile</a></li>
                    <li><a href="{{url_for('winestock_api.list_user_reviews', user_id=session.user_id)}}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>  My Reviews</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('auth_api.signout')}}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Sign Out</a></li>
                  </ul>
            </li>
        </ul>
      <!-- <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{session.username}}</a>  <span class="caret"></span></p> -->
    {% endif %}
  </div>
</nav>
<ol class="breadcrumb">
{%block breadcrumbs%}{%endblock%}
</ol>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{message}}</div>
                    {% endfor %}
                 {% endif %}
            {% endwith %}
      </div>
  </div>
</div>
{%block body%}{%endblock%}
<script src="/static/jquery-2.1.4.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>
</html>