{% extends "base.html" %}
{%block title%}Catalog{%endblock%}
{%block navbar_brand_url%}catalog{%endblock%}
{%block navbar_brand%}Catalog{%endblock%}
{%block navbar%}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="">New</a></li>
    </ul>
{%endblock%}
{%block body%}
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
            {% for category in categories %}
                <a href="" class="list-group-item">{{category.name}}<span class="badge">{{category.items|length}}</span></a>
            {% endfor %}
            </ul>
          </div>
          <div class="col-md-9">
            <ul class="list-group">
            {% for category in categories %}
                <a href="" class="list-group-item">{{category.name}}</a>
            {% endfor %}
            </ul>
          </div>
      </div>
    </div>
{%endblock%}