<!-- TODO: Deprecated, please remove -->
{% extends "base.html" %}
{%block title%}Catalog{%endblock%}
{%block navbar_brand_url%}catalog{%endblock%}
{%block navbar_brand%}Wine Sharing Catalog{%endblock%}
{%block navbar%}
    {% if session.logged_in %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="">New</a></li>
    </ul>
    {% endif%}
{%endblock%}
{%block body%}

    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
          <div class="col-md-4 col-sm-4 col-sx-4">
            <ul class="list-group">
            {% for winename, count in winetypes %}
                <a href="" class="list-group-item">{{winename}}<span class="badge">{{count}}</span></a>
            {% endfor %}
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
      </div>
    </div>
{%endblock%}

