{% extends "base.html" %}
{%block scripts%}
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
    <!-- <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script> -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1040143561424-o1c38jt6hot2bj3sc5fdnbmk1etdtpb0.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

{%endblock%}
{%block title%}Catalog{%endblock%}
{%block navbar_brand_url%}catalog{%endblock%}
{%block navbar_brand%}Wine Sharing Catalog{%endblock%}
{%block navbar%}{%endblock%}
{%block body%}
<div class="container">
    <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>Never go without that needed bottle of wine. Share your wine here with friends.</p>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-4 col-sm-4 col-sx-4">
                      <div class="g-signin2 pull-right" data-onsuccess="onSignIn"></div>
                    <!-- <div id="signInButton">
                        <span class="g-signin"
                        data-scope="openid email"
                        data-clientid="1040143561424-o1c38jt6hot2bj3sc5fdnbmk1etdtpb0.apps.googleusercontent.com"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback"
                        data-approvalprompt="force">
                        </span>
                        </div> -->
                  </div>
                  <div class="col-md-4 col-sm-4 col-sx-4">
                      <fb:login-button size="xlarge" scope="public_profile,email" onlogin="testAPI();"></fb:login-button>
                  </div>
              </div>
            </div>
    </div>
</div>

<script>

function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}

function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/";
         }, 4000);

      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  }); } }

<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->

    window.fbAsyncInit = function() {
    FB.init({
      appId      : '1468863403429165',
      xfbml      : true,
      cookie     : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

</script>


{%endblock%}



