<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://cdn.datatables.net/r/bs/jq-2.1.4,dt-1.10.9/datatables.min.js"></script>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<title></title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{message}}</div>
                    {% endfor %}
                 {% endif %}
            {% endwith %}
      </div>
  </div>
</div>
<div class="container">
    <div class="jumbotron">
          <h1>WineCave</h1>
          <p>WineCave helps you track your wine tasting journey. Add and rate your own wine selection, or, that of the other users of the site.</p>
          <p>To experience it all, click on the logo of your favorite social website below, and follow the directions.</p>
            <div class="text-center">
            <div id="signInButton">
                <span class="g-signin"
                data-scope="openid email"
                data-clientid="1040143561424-o1c38jt6hot2bj3sc5fdnbmk1etdtpb0.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="googleSignInCallback"
                data-approvalprompt="force">
                </span>
            </div>
            <fb:login-button scope="public_profile,email" onlogin="facebookSignInCallback();"><a href='javascript:facebookSignInCallback()'>Login with Facebook</a></fb:login-button>
            <div id="result" class="alert" role="alert" style="display:none"></div>
        </div>
    </div>
</div>
<script>

var csrf_token = "{{ csrf_token() }}";

<!-- GOOGLE PLUS SIGN IN -->
function googleSignInCallback(authResult)
{
    if (authResult['code'])
    {
        $('#signinButton').attr('style', 'display: none');
        var dataobj = {authresult: authResult['code'], _csrf_token: csrf_token};
        $.post('{{url_for('.gconnect')}}?state={{STATE}}'
            , dataobj
            , function(result)
            {
                if (result)
                {
                    $('#result').addClass("alert-success")
                                .html('Login Successful! Redirecting...')
                                .show();
                    window.location.href = "/";
                }
                else if (authResult['error'])
                {
                    $('#result').addClass("alert-danger")
                                .html('Authentication error: ' + authResult['error'])
                                .show();
                }
                else
                {
                    $('#result').addClass("alert-danger")
                                .html('Failed to make a server-side call. Check your configuration.')
                                .show();
                }
            }
        );
  }
}
<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->

window.fbAsyncInit = function() {
FB.init({
  appId      : '1468863403429165',
  xfbml      : true,
  version    : 'v2.4'
});
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function facebookSignInCallback()
{
    var access_token = FB.getAuthResponse()['accessToken'];
    FB.api('/me', function(response)
    {
        var dataobj = {"access_token": access_token, "_csrf_token": csrf_token};
        $.post('{{url_for('.fbconnect')}}?state={{STATE}}'
            , dataobj
            , function(result){
                if (result)
                {
                  $('#result').addClass("alert-success")
                              .html('Login Successful! Redirecting...')
                              .show();
                  window.location.href = "/";
                }
                else
                {
                    $('#result').addClass("alert-danger")
                          .html('Failed to make a server-side call. Check your configuration.')
                          .show();
                }
            }
        );

/*         $.ajax({
                  type: 'POST',
                  url: '{{url_for('.fbconnect')}}?state={{STATE}}',
                  processData: false,
                  data: dataobj,
                  contentType: 'application/octet-stream; charset=utf-8',
                  success: function(result)
                    {
                        if (result)
                        {
                          $('#result').addClass("alert-success")
                                      .html('Login Successful! Redirecting...')
                                      .show();
                          window.location.href = "/";
                        }
                        else
                        {
                            $('#result').addClass("alert-danger")
                                  .html('Failed to make a server-side call. Check your configuration.')
                                  .show();
                        }
                  }
                }); // ajax
                */
    }); // FBapi
}
</script>



<!--END FACEBOOK SIGN IN -->

</body>
</html>