{% extends "color/color_base.html" %}
{%block navbar%}
    <li><a href="{{url_for('.new')}}">New</a></li>
{%endblock%}

{%block breadcrumbs%}
    {% include 'partial_templates/breadcrumb_linked_home.html' %}
    {% include 'partial_templates/breadcrumb_unlinked_color.html' %}
{%endblock%}

{%block body%}

    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
          <div class="col-md-4 col-sm-4 col-sx-4">
            <ul class="list-group">
            {% for colortype in colortypes %}
                <a href="{{url_for('.edit', color_id=colortype.id)}}" class="list-group-item" ><span class="glyphicon glyphicon-tint" aria-hidden="true" style="color:#{{colortype.value}}"></span>  {{colortype.name}}</a>
            {% endfor %}
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-4"></div>
      </div>
    </div>
{%endblock%}

